@model IEnumerable<cozaStoreWeb.Models.Size>

<div class="rs1-select2 bor8 bg0">
    <select class="js-select2" name="size">
        @foreach (var item in Model)
        {
        <option><p>@Html.DisplayFor(itemmodel => item.SizeName)</p></option>
        }
    </select>
    <div class="dropDownSelect2"></div>
</div>


